@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

body {
  background-color: black !important;
  color: #ffdf4d;
  font-family: 'Libre Baskerville', serif;
}

header {
  margin-top: 3em;
  margin-bottom: 3em;
}

h1 {
  color: #c20906;
  font-family: 'Libre Baskerville', serif;
  line-height: 1.5 !important;
  text-align: left;
}

footer {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
}

p {
  font-size: 1.2em;
  color: #bb7836;
  font-family: 'Libre Baskerville', serif;
}

.carousel-indicators li {
  width: 7px !important;
  height: 7px !important;
}

a:link {
  color: #c20906;
}

a:visited {
  color: #c20906;
}

a:active {
  color: white;
}

a:hover {
  color: white !important;
}

.nowrap {
  white-space: nowrap;
}
