@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

body {
  background-color: black !important;
  color: #ffdf4d;
  font-family: 'Libre Baskerville', serif !important;
}

header {
  margin-bottom: 3em;
}

section {
  margin-top: 4em;
  margin-bottom: 4em;
}

footer {
  margin-top: 3em;
  margin-bottom: 3em;
}

h1 {
  color: #c20906;
  font-size: 3em !important;
  line-height: 1.5 !important;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

h2 {
  color: #c20906;
  font-size: 2.5em !important;
  text-transform: uppercase;
  margin-bottom: 1.5em !important;
  text-align: center;
}

h3 {
  color: #bb7836;
  font-size: 2em !important;
  margin-bottom: .7em !important;
  text-align: center;
}

h4 {
  color: #bb7836;
  font-size: 1.5em !important;
  margin-bottom: .7em !important;
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
}

p {
  font-size: 1.2em;
  color: #bb7836;
}

.carousel-indicators li {
  width: 7px !important;
  height: 7px !important;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:active {
  color: white;
}

a:hover {
  color: white !important;
}

.nowrap {
  white-space: nowrap;
}

@media (max-width: 576px) {
  h1 {
    font-size: 1.8em !important;
  }
  h2 {
    font-size: 1.6em !important;
  }
  h3 {
    font-size: 1.4em !important;
  }
  h4 {
    font-size: 1.2em !important;
  }
}

.lisa-materials-description {
  font-size: 1em;
  text-align: center;
}

.lisa-gallery img {
  margin-bottom: 2em;
}

.lisa-video {
  margin-bottom: 2em;
}
